/* ===================================
   footer.css 
  ==================================== */

@import "./social-links.css";

.footer {
  padding-block: var(--spacing-400);
  background-color: var(--clr-bg-footer);
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-300);
  color: var(--clr-text-white);
}

.footer__logo {
  margin-block-end: var(--spacing-200);
}

.footer-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-150);

  text-align: center;
  color: var(--clr-text-white);
}

.footer-menu__link {
  position: relative;
}

.footer-menu__link::after {
  content: "";
  position: absolute;
  inset-inline-start: 50%;
  inset-block-end: -10px;

  inline-size: 0;
  block-size: 2px;

  background-color: var(--clr-bg-white);
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.footer-menu__link:hover::after,
.footer-menu__link:focus-visible::after {
  inline-size: 60%;
}

.footer__attribution {
  margin-block-start: var(--spacing-200);
  font-size: 0.9rem;
}

.challenge-attribution {
  padding-block: var(--spacing-100);
  text-align: center;
}

.challenge-attribution__link:hover,
.challenge-attribution__link:focus-visible {
  text-decoration: underline;
}

@media (min-width: 48rem) {
  .footer {
    padding-block: var(--spacing-250);
  }

  .footer__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer-menu {
    flex-direction: row;
  }
}
