/* ===================================
   hero.css 
  ==================================== */

.hero {
  background-image: url("../../assets/images/mobile/image-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  margin-block-start: -5rem;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  block-size: 100vh;
}

.hero__content {
  padding: var(--spacing-100);
  inline-size: 90%;
  max-inline-size: 23rem;
  border: 1px solid var(--clr-border-white);
}

.hero__title {
  color: var(--clr-text-white);
}

@media (min-width: 48rem) {
  .hero {
    background-image: url("../../assets/images/desktop/image-hero.jpg");
  }
}
